/* App.css */

.App {
  position: relative;
  min-height: 100vh;
}

.top-toolbar {
  background-color: #f0f0f0;
    height: 10vh;
    /* 5% 的视口高度 */
}

.bottom-status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-modal {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #0070CA;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}